<table class="table"> <!-- table -->
    <thead > <!-- thead -->
    <tr> <!-- table row -->
        <th scope="col"> <!-- table header -->
            ID
        </th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
        <th scope="col">Sector Manager</th>
    </tr>
    </thead>
    <tbody>
    <% cities.forEach( (city) => {%>
        <tr> <!-- table row -->
            <th scope="row">
                <%= city.id%>
            </th> <!-- table header -->
            <td>
                <%= city.name%>
            </td> <!-- table detail -->
            <td>
<div class=row>
    <div class="col-sm-4" >
        <a href="/city/route/create-city/<%= city.id %>">
            <button type="button"
                    class="btn btn-info btn-block">
                Edit
            </button>
        </a>
    </div>
    <div class="col-sm-4" >
        <form action="/city/<%= city.id %>"
            method="POST"
      >
          <button type="submit"
                  class="btn btn-danger btn-block">
              Delete
          </button>
    </div>
</div>
                </form>
            </td> <!-- table detail -->
            <td>
                
                <form action="../<%=city.id%>/sector/route/search-sector"
                      method="GET"
                >
                    <button type="submit"
                            class="btn btn-info">
                        Sectors
                    </button>
                </form>
            </td> <!-- table detail -->
        </tr>
    <%}); %>
    </tbody> <!-- tbody -->
</table>
