<table class="table">
    <!-- table -->
    <thead>
        <!-- thead -->
        <tr>
            <!-- table row -->
            <th scope="col">
                <!-- table header -->
                ID
            </th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
            <th scope="col">Sector Manager</th>
        </tr>
    </thead>
    <tbody>
        <% cities.forEach( (city) => {%>
        <tr>
            <!-- table row -->
            <th scope="row">
                <%= city.id%>
            </th> <!-- table header -->
            <td>
                <%= city.name%>
            </td> <!-- table detail -->
            <td>
                <div class=row>
                    <div class="col-sm-4">
                        <a href="/city/route/edit-city/<%= city.id %>">
                            <button type="button" class="btn btn-info btn-block">
                                Edit
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-4">

                        <button type="button" class="btn btn-danger btn-block" data-toggle="modal"
                            data-target="#exampleModalLong">
                            Delete
                        </button>
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">   Do you want to continue?</h5>
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            If you delete the item it
                                                will be deleted with all the records
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <form action="/city/deleteone/<%= city.id %>" method="POST">
                                                <button type="submit" class="btn btn-danger btn-block"
                                                    data-toggle="modal" data-target="#exampleModalLong">
                                                    Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- table detail -->

                    </div>
                </div>
            </td> <!-- table detail -->
            <td>

                <form action="../<%=city.id%>/sector/route/search-sector" method="GET">
                    <button type="submit" class="btn btn-info">
                        Sectors
                    </button>
                </form>
            </td> <!-- table detail -->
        </tr>
        <%}); %>
    </tbody> <!-- tbody -->
</table>