<%- include('../../shared/header',) %>
<% const isEditng = data.sector != undefined;%>
<div class="container">

    
    <% if(data.error){ %>
        <div class="alert alert-danger" role="alert">
            <%= data.error %>
        </div>
    <% } %> 
    <!-- CONDICION ? TRUE : FALSE -->
    <h1><%= isEditng ? 'Create sector for ' + data.city.name : 'Create Sector' %></h1>

   
    <form action="/city<%= isEditng ? '/' + data.city.id : '' %>/sector/route/create-sector"
        method="POST"
    >
            <div class="form-group">
            <label form="nameID">Name</label>
            <input  id="nameID"
                    type="text"
                    name="name"
                    value="<%= isEditng ? data.sector.name : '' %>"
                    placeholder="Ej: Chimbacalle"
                    title="Enter sector name"
                    class="form-control"
            >
            <small id="nombreIDHelp"
                   class="form-text text-muted">
                   the name must be more than 3 characters long
            </small>
        </div>

        <button type="submit"
                class ="btn btn-success"
        >
            Create Sector
        </button>
        <button type="reset"
                class="btn btn-secondary"
        >
            Clean Form
        </button>

    </form>
</div>

<%- include('../../shared/foot-page',) %>

