<%- include ('./cabecera',
    datos.session
)%>
<link rel="stylesheet" href="/public/styles/catalogoStyle.css">
<div class="jumbotron big-banner">
    <div class="col-md-4">
        <h1 class="display-5">Motor Store</h1>
        <p class="lead">Catálogo de motocicletas</p>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
        <% datos.motocicletas.forEach(motocicleta => {%>
        <a href="/motocicletas/<%=motocicleta.id%>">
            <div class="col mb-4">
                <div class="card">
                    <img src="<%=motocicleta.urlFoto%>" class="card-img-top" alt="foto motocicleta">
                    <div class="card-body">
                        <h5 class="card-title"><%=motocicleta.modelo%></h5>
                        <p class="card-text">Precio: <%=motocicleta.precioDolares%>$</p>
                    </div>
                </div>
            </div>
        </a>
        <% });%>
    </div>
</div>

<%- include ('./pie') %>