<%- include ('./cabecera') %>
<link rel="stylesheet" href="/public/styles/detalleMotoStyle.css">

<div class="jumbotron">
    <form action="/api/motocicleta/detalle" method="post">
        <div class="row">
            <div class="col">
                <img src="<%=datos.motocicleta.urlFoto%>" alt="foto motocicleta">
            </div>
            <div class="col">
                <h2><%=datos.motocicleta.modelo%> </h2>
                <div class="row">
                    <div class="col">
                        <div>
                            <h6>Capacidad de tanque</h6> <%=datos.motocicleta.capacidadTanque%> litros
                            <h6>Freno Delantero</h6> <b><%=datos.motocicleta.frenoDelantero%></b> (D/Disco - T/Tambor)
                            <h6>Luz Delantera</h6> <b><%=datos.motocicleta.luzDelantera%></b> (H/Halogena - L/Led)
                            <h6>Tipo</h6> <%=datos.motocicleta.tipo%>
                            <h6>Precio</h6> <%=datos.motocicleta.precioDolares%>$
                            <div>

                                <div class="form-group" hidden>
                                    <label for="idMoto">idMoto</label>
                                    <input type="text" value="<%=datos.motocicleta.id%>" name="idMoto" id="idMoto">
                                </div>
                                <button class="btn btn-secondary" id="addButton">Añadir al carrito</button>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <h6>Cilindrada</h6> <%=datos.motocicleta.cilindrada%> cc
                        <h6>Freno Trasero</h6> <b><%=datos.motocicleta.frenoTrasero%></b> (D/Disco - T/Tambor)
                        <h6>Luz Trasera</h6> <b><%=datos.motocicleta.luzTrasera%></b> (H/Halogena - L/Led)
                        <div class="form-group" >
                            <label for="cantidadMoto">Cantidad</h6> <input type="number" id="cantidadMoto"
                                    name="cantidadMoto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

</script>

<%- include ('./pie') %>