<%- include ('./cabecera') %>
<link rel="stylesheet" href="/public/styles/motoform.css">

<div class="big-banner">
    <% if(datos.marca){ %>
    <form action="/api/marca/editar/<%=datos.marca.id%>" method="post">
        <% }else { %>
        <form action="/api/marca" method="post">
            <% } %>
            <div class="jumbotron container">
                <div class="col-md-4">
                    <h1 class="display-5">Motor Store</h1>
                    <p class="lead">Administración de Marcas</p>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="nombreMarca" id="nombreMarca">Nombre de la marca</label>
                            <input type="text" id="nombreMarca" name="nombreMarca" class="form-control"
                                value="<%- datos.marca? datos.marca.nombreMarca : ""%>">
                        </div>
                        <div class="form-group">
                            <label for="calificacion" id="calificacion">Calificacion</label>
                            <select class="custom-select" id="calificacion" name="calificacion">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="anioDeOrigen" id="anioDeOrigen">Año de origen</label>
                            <input type="number" id="anioDeOrigen" name="anioDeOrigen" class="form-control"
                                value="<%- datos.marca? datos.marca.anioDeOrigen : ""%>">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="detalle" id="detalle">Detalle</label>
                    <input type="text" id="detalle" name="detalle" class="form-control"
                        value="<%- datos.marca? datos.marca.detalle : ""%>">
                </div>
                <div class="form-group">
                    <label for="urlLogo" id="urlLogo">URL Foto</label>
                    <input type="text" id="urlLogo" name="urlLogo" class="form-control"
                        value="<%- datos.marca? datos.marca.urlLogo : ""%>">
                </div>
                <button type="submit" class="btn btn-success">
                    <%- datos.marca? "Actualizar" : "Guardar"%>
                </button>
            </div>
        </form>
</div>
<%- include ('./pie') %>