<%- include ('./cabecera') %>
<link rel="stylesheet" href="/public/styles/motoform.css">

<div class="big-banner">
    <% if(datos.motocicleta){ %>
    <form action="/api/motocicleta/editar/<%=datos.motocicleta.id%>" method="post">
        <% }else { %>
        <form action="/api/motocicleta" method="post">
            <% } %>
            <div class="jumbotron container">
                <div class="col-md-4">
                    <h1 class="display-5">Motor Store</h1>
                    <p class="lead">Administraci贸n de Motocicletas</p>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="modelo" id="modelo">Modelo</label>
                            <input type="text" id="modelo" name="modelo" class="form-control"
                                value="<%- datos.motocicleta? datos.motocicleta.modelo : ""%>">
                        </div>
                        <div class="form-group">
                            <label for="capacidadTanque" id="capacidadTanque">Capacidad del tanque</label>
                            <input type="number" id="capacidadTanque" name="capacidadTanque" class="form-control"
                                value="<%- datos.motocicleta? datos.motocicleta.capacidadTanque : ""%>">
                        </div>
                        <div class="form-group">
                            <label for="frenoTrasero" id="frenoTrasero">Freno Trasero</label>
                            <select class="custom-select" id="frenoTrasero" name="frenoTrasero">
                                <option value="D">Disco</option>
                                <option value="T">Tambor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="luzTrasera" id="luzTrasera">Luz Trasera</label>
                            <select class="custom-select" id="luzTrasera" name="luzTrasera">
                                <option value="H">Hal贸gena</option>
                                <option value="L">Led</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="precioDolares" id="precioDolares">Precio en d贸lares</label>
                            <input type="number" id="precioDolares" name="precioDolares" class="form-control"
                                value="<%- datos.motocicleta? datos.motocicleta.precioDolares : ""%>">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="marca" id="marca">Marca</label>
                            <select class="custom-select" id="marca" name="marca">
                                <% datos.marcas.forEach(marca => { %>
                                <option value="<%=marca.id%>"><%=marca.nombreMarca%></option>
                                <%}) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cilindrada" id="cilindrada">Cilindrada</label>
                            <input type="number" id="cilindrada" name="cilindrada" class="form-control"
                                value="<%- datos.motocicleta? datos.motocicleta.cilindrada : ""%>">
                        </div>
                        <div class="form-group">
                            <label for="frenoDelantero" id="frenoDelantero">Freno Delantero</label>
                            <select class="custom-select" id="frenoDelantero" name="frenoDelantero">
                                <option value="D">Disco</option>
                                <option value="T">Tambor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="uzDelantera" id="uzDelantera">Luz Delantera</label>
                            <select class="custom-select" id="luzDelantera" name="luzDelantera">
                                <option value="H">Hal贸gena</option>
                                <option value="L">Led</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tipo" id="tipo">Tipo</label>
                            <select class="custom-select" id="tipo" name="tipo">
                                <option value="Chopper">Chopper</option>
                                <option value="Ninja">Ninja</option>
                                <option value="Naked">Naked</option>
                                <option value="Moto Cross">Moto Cross</option>
                                <option value="Cruize">Cruize</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="urlFoto" id="urlFoto">URL Foto</label>
                    <input type="text" id="urlFoto" name="urlFoto" class="form-control"
                        value="<%- datos.motocicleta? datos.motocicleta.urlFoto : ""%>">
                </div>
                <button type="submit" class="btn btn-success">
                    <%- datos.motocicleta? "Actualizar" : "Guardar"%>
                </button>
            </div>
        </form>
</div>
<%- include ('./pie') %>