<%- include ('./cabecera') %>
<div class="jumbotron">
    <% if(datos.info){ %>
    <div class="alert alert-success" role="alert">
        <%=datos.info%>
    </div>
    <% } %>
    <div class="col-md-4">
        <h1 class="display-5">Motor Store</h1>
        <p class="lead">Administración de marcas</p>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Marca</th>
                <th scope="col">Opciones</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% datos.marcas.forEach(marca => { %>
            <tr>
                <th scope="row"><%=marca.id%></th>
                <td><%=marca.nombreMarca%></td>
                <td><button type="button" class="btn btn-warning"
                    onclick="location.href='/marcas/editar/<%=marca.id%>'"> Editar </button></td>
                <td><button type="button" class="btn btn-danger"
                    onclick="location.href='/api/marca/eliminar/<%=marca.id%>'">Eliminar</button></td>
            </tr>
            <% }) %>
        </tbody>
    </table>

    <button type="button" class="btn btn-success" onclick="location.href='/marcas/crear'">Añadir nueva</button>
</div>
<%- include ('./pie') %>